$gold = #d4c996
$tanGold = #d8cd98
$white = #fff
$lightBlue = #a5cee5
$grey = #929292
$blue = #D0E9FF
$green = #63ac47
$blue50 = rgba(189, 237, 255, 0.5)
$black = #000
$navBg = #041e27
$dropLegendaryColor = #e97315
$yellow = #ffc62e
$red = #f8464b
$badgeRed = #f00
$dropCommonColor = #AAA
$dropRareColor = #afa
$dropEpicColor = #9ACCED
$silver = #DADADA
$bronze = #D6843F
$epic = #bd57ed
$bronzeChest = #f8d09b
$silverChest = #dee6ec
$goldChest = #ffe47a
$grey = #ddd
$brownTextShadow = #52320b
// Temple Raid Colors
$templeblue = #00c4ff
$templegreen = #13a200
$templeorange = #f1870d
$templepurple = #800088
$redTier = #F03A23
$purpleTier = #B2449D
$blueTier = #4051F8
$orangeTier = #E67A1D
$greenTier = #75C933
$goldTier = #FAD40A
$platinumTier = #E5EEE2
$sapphireTier = #333399
$garnetTier = #F03A23
$emeraldTier = #75C933
$obsidianTier = #551033
$harbingerTier = #5DDECA
$vanguardTier = #FFC017
$empyreanTier = #7851c0
$bossLoadingOrange = #FF8937
$bossLoadingContinueBlue = #90C4D7
