@font-face { 
  font-family 'ford-light'
  font-weight normal
  src url(/project-stadium/assets/ford-antenna-medium.otf) format('opentype'),
      url(/assets/ford-antenna-medium.otf) format('opentype')
}