@font-face
  font-family "cabin"
  src url(/assets/Cabin-Regular.ttf)

@font-face
  font-family "cabin"
  src url(/assets/Cabin-Bold.ttf)
  font-weight bold

@font-face
  font-family "cabin"
  src url(/assets/Cabin-Regular.ttf)
  font-weight lighter

body
  margin 0
  width 100%
  height 100%
  color white
  font-family 'cabin'
  overflow hidden